/* 
! work sans font form google fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/*
! general styles
*/
.btn-primary {
    cursor: pointer;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.text-light-gray {
    color: #727272;
}


/*
! header section
*/
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* 
! nav section
*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/*
! banner section
*/
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}


.banner img {
    width: 100%;

    margin-top: 20px;
}

/* 
! main section
*/
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* ! teams Section */
.team-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 0 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    font-size: 16px;
    font-weight: 500;
}

.teams-title .text-fatures {
    color: #FF900E;
    font-weight: 700;
}

/* ! features section */
.features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features .card {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten-year-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    text-align: center;
    padding: 40px;
}
.ten-year-badge h3 {
    font-size: 4rem;

    font-weight: 700;
    line-height: 70px; /* 107.692% */

}

.ten-year-badge p {
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}
/* !facts section */
.facts-card-container {
    display: flex;
    justify-content: space-around;

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    font-weight: 600;
    padding: 30px;
}

.facts-card-container .card-title {
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    margin: 10px 0;
}


/* ! sponsors section */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.sponsors-img-container img {
    width: 165px;
}














/* ! responsive media queries */
/*  ? header section
    ! mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;

    }

    .teams-content,
    .facts-card-container {
        padding: 0 20px;
    }

    .facts-card-container {
        gap: 20px;
    }
}


/* 
! tablet or medium devices
*/
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .team-container,
    .sponsors-img-container {
        flex-direction: column;
    }
}